<%- include('include/header')%>


<main class="main">
    <%- include('include/login-header.ejs') %>
    <%- include('include/tittle/tittle-header')%>
    <h1 style="font-size: 1.5em; color: black">Cadastrar Consulta</h1>
    <span >Área do usuário</span>
    <%- include('include/tittle/tittle-footer')%>

    <div class="container">
        <form action="/make-appointment" method="post" id="form-appointment">
            <label>Gostaria de marcar pelo oq?</label>
            <div id="makeFor">
                <div>
                    <label for="medico">Medico</label>
                    <input type="radio" name="typeSelect" id="medico" checked>
                </div>
                <div>
                    <label for="especialidade">Especialidade</label>
                    <input type="radio" name="typeSelect" id="especialidade">
                </div>
            </div>

            <div id="selectSpecialty" style="display: none;">
                <label for="doctor">Escolha a especialidade:</label>
                <select name="specialty" id="specialty">
                    <option value="" selected>Escolha a especialidade</option>
                    <option value="Cardiologista">Cardiologista</option>
                    <option value="Pediatra">Pediatra</option>
                    <option value="Ortopedista">Ortopedista</option>
                    <option value="Dermatologista">Dermatologista</option>
                    <option value="Ginecologista">Ginecologista</option>
                </select>
            </div>
            
            <div id="selectDoctor">
                <label for="doctor">Escolha o seu médico:</label>
                <select name="doctor" id="doctor">
                    <option value="" selected>Escolha o seu médico</option>
                </select>
            </div>

            <div>
                <label for="timeSlots">Escolha o horário:</label>
                <select name="time" id="timeSlots">
                    <option value="" selected>Escolha o horário</option>
                </select>
            </div>

            <input type="text" name="reason" id="reason" placeholder="Motivo da consulta">
            <input type="text" name="notes" id="notes" placeholder="Observações">
            <button type="submit">Enviar</button>
        </form>
    </div>
</main>


<%- include('include/footer')%>