<%- include('include/header') %>

<main class="main">
    <div class="header">
        <%- include('include/nav.ejs') %>
        <div class="tittle">
            <h1 style="color: white">SAÚDE</h1>
            <h2 style="color: white">Agenda de Consultas</h2>
        </div>
        <div class="triangle-right-home"></div>
        <div class="triangle-left-home"></div>
    </div>

    <h1>Lista de Consultas</h1>

    <div class="container">
        <% appointments.forEach((consulta, index) => { %>
            <div class="appo">
                <h2>Consulta <%= index + 1 %></h2>

                <!-- Informações do Médico -->
                <p><strong>Médico:</strong> <%= consulta.doctorName %> (<%= consulta.doctorSpecialty %>)</p>
                <p><strong>E-mail do Médico:</strong> <%= consulta.doctorEmail %></p>
                <p><strong>CRM:</strong> <%= consulta.doctorCm %></p>

                <!-- Informações do Paciente -->
                <p><strong>Paciente:</strong> <%= consulta.patientName %> (<%= consulta.patientCpf %>)</p>
                <p><strong>E-mail do Paciente:</strong> <%= consulta.patientEmail %></p>
                <p><strong>Idade:</strong> <%= consulta.patientAge %> anos</p>

                <!-- Informações da Consulta -->
                <p><strong>Data e Hora:</strong> <%= consulta.dateHour %></p>
                <p><strong>Motivo:</strong> <%= consulta.reason %></p>
                <p><strong>Notas:</strong> <%= consulta.notes ? consulta.notes : "Sem notas adicionais" %></p>
                <p><strong>Status:</strong> <%= consulta.status %></p>

                <hr>
            </div>
        <% }) %>
    </div>
</main>

<%- include('include/footer') %>
